<h1>Stations#results</h1>

<% @stations_with_bikes.each do |station| %>
  <p><%= station[:name] %>, <%= station[:num_bikes_available] %> <%= link_to 'Direction', station_path(station) %></p>
<% end %>
