// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-stations {
  display: flex;
  // flex-grow: 1;
  // flex-basis: 0;
}

#map {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 20px;
  position: sticky !important;
  top: 0;
}
